<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Office Bearers of <%= club.CLUB_NAME %></title>
</head>
<body>
    <h1>Office Bearers of <%= club.CLUB_NAME %></h1>
    <ul>
        <% officeBearers.forEach(ob => { %>
            <li><%= ob.STUDENT_NAME %> - <%= ob.OB_POST %></li>
        <% }); %>
    </ul>
    <a href="/logout">Logout</a>
</body>
</html>
