<%- include('partials/header') %>
<main role="main" class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="username">Roll Number</label>
              <input type="text" class="form-control" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <div class="input-group">
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="input-group-append">
                  <span class="input-group-text" id="toggle-password">
                    <i class="fas fa-eye"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="student_name">Student Name</label>
              <input type="text" class="form-control" name="student_name" required>
            </div>
            <div class="form-group">
              <label for="department">Department</label>
              <input type="text" class="form-control" name="department" required>
            </div>
            <div class="form-group">
              <label for="contact_no">Contact Number</label>
              <input type="text" class="form-control" name="contact_no" required>
            </div>
            <button type="submit" class="btn btn-warning">Register</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') %>

<!-- Include FontAwesome for the eye icon -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<!-- Script to toggle password visibility -->
<script>
  document.getElementById('toggle-password').addEventListener('click', function () {
    const passwordField = document.getElementById('password');
    const icon = this.querySelector('i');
    if (passwordField.type === 'password') {
      passwordField.type = 'text';
      icon.classList.remove('fa-eye');
      icon.classList.add('fa-eye-slash');
    } else {
      passwordField.type = 'password';
      icon.classList.remove('fa-eye-slash');
      icon.classList.add('fa-eye');
    }
  });
</script>
